@charset "UTF-8";
@import url("./icon.css");
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(77, 91, 107, 0.15);
}

* {
  outline: none;
}

body,
html {
  width: 100%;
  font-family: sans-serif, Helvetica, "微軟正黑體", "Microsoft JhengHei", "Heiti TC", "黑體", Arial, serif;
  color: #3A3A3A;
}

a {
  color: #3A3A3A;
}

a:hover {
  color: #0076C5;
  text-decoration: none;
}

button {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

button:focus,
.btn.focus,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vertical-center {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.lg-title {
  /*大標題 30*/
  font-size: 1.875rem;
  font-weight: 500;
  margin: 0px;
}

.sec-title {
  /*區塊標題*/
  font-size: 24px;
  font-weight: 500;
}

.md-title {
  /*中標題 20*/
  font-size: 1.25rem;
  font-weight: 500;
}

.sm-title {
  /*小標題 18*/
  font-size: 1.125rem;
  font-weight: 500;
}

.des-text {
  /*輔助內文*/
  font-size: 12px;
  line-height: 18px;
}

.des-text-40 {
  font-size: 2.5rem;
}

.des-text-30 {
  font-size: 1.875rem;
}

.des-text-20 {
  font-size: 1.25rem;
}

.des-text-18 {
  font-size: 1.125rem;
}

.des-text-16 {
  font-size: 1rem;
}

.des-text-14 {
  font-size: 0.875rem;
}

.des-text-12 {
  font-size: 0.75rem;
}

.cursor-pointer {
  cursor: pointer;
}

.py-20px {
  padding-top: 20px;
  padding-bottom: 20px;
}

.px-10px {
  padding-right: 10px;
  padding-left: 10px;
}

.px-20px {
  padding-right: 20px;
  padding-left: 20px;
}

.px-40px {
  padding-right: 40px;
  padding-left: 40px;
}

.mx-20px {
  margin-left: 20px;
  margin-right: 20px;
}

.mx--15px {
  margin-left: -15px;
  margin-right: -15px;
}

.my-10px {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-15px {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-20px {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-50px {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mt-5px {
  margin-top: 5px;
}

.mt-10px {
  margin-top: 10px;
}

.mt-20px {
  margin-top: 20px;
}

.mt-30px {
  margin-top: 30px;
}

.mb-10px {
  margin-bottom: 10px;
}

.mb-15px {
  margin-bottom: 15px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mb-30px {
  margin-bottom: 30px;
}

.ml-10px {
  margin-left: 10px;
}

.ml-20px {
  margin-left: 20px;
}

.w-20 {
  width: 20%;
}

/*背景顏色*/
.bg-green {
  background-color: #00a8b8;
}

.bg-red {
  background-color: #CD5F50;
}

.bg-white {
  background-color: #ffffff;
}

/*字型顏色*/
.text-URL {
  text-decoration: underline;
}

.text-dark {
  color: #3A3A3A;
}

.text-grey {
  color: #879097;
}

.text-blue {
  color: #0076C5;
}

.text-grey-light {
  color: #B6BBBF;
}

.text-green {
  color: #00a8b8;
}

.text-red {
  color: #CD5F50;
}

.text-white {
  color: #ffffff;
}

/*font-weight*/
.font-bold {
  font-weight: 500;
}

/*line*/
/*icon*/
.i-icon {
  display: inline-block;
  vertical-align: sub;
}

/*divider text*/
.divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.divider .divider-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.divider .divider-txt:before {
  content: "";
  height: 1px;
  background: #b9b9b9;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 20px 0 0;
}

.divider .divider-txt:after {
  content: "";
  height: 1px;
  background: #b9b9b9;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 0 20px;
}

/*radio btn*/
input[type="checkbox"]:not(old),
input[type="radio"]:not(old) {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

input[type="checkbox"]:not(old) + label,
input[type="radio"]:not(old) + label {
  display: inline-block;
  padding-left: 20px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  margin: 0;
}

input[type="checkbox"].big-checkbox:not(old) + label {
  display: inline-block;
  padding-left: 20px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  margin: 0;
}

input[type="checkbox"]:not(old) + label + span {
  visibility: hidden;
}

input[type="checkbox"]:not(old):checked + label + span {
  visibility: visible;
}

input[type="checkbox"]:not(old) + label {
  background-image: url("../images/btn-checkbox.png");
  background-size: 20px;
}

input[type="checkbox"]:not(old):checked + label {
  background-image: url("../images/btn-checkbox-click.png");
  background-size: 20px;
}

input[type="checkbox"].big-checkbox:not(old) + label {
  background-image: url("../images/ic-checkbox-32-normal.png");
  background-size: 20px;
}

input[type="checkbox"].big-checkbox:not(old):checked + label {
  background-image: url("../images/ic-checkbox-32-active.png");
  background-size: 20px;
}

input[type="radio"]:not(old) + label {
  background-image: url("../images/btn-radio.png");
  background-size: 20px;
}

input[type="radio"]:not(old):checked + label {
  background-image: url("../images/btn-radio-click.png");
  background-size: 20px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2) {
  input[type="radio"]:not(old) + label {
    background-image: url("../images/btn-radio@2x.png");
    background-size: 20px;
  }
  input[type="radio"]:not(old):checked + label {
    background-image: url("../images/btn-radio-click@2x.png");
    background-size: 20px;
  }
  input[type="checkbox"]:not(old) + label {
    background-image: url("../images/btn-checkbox@2x.png");
    background-size: 20px;
  }
  input[type="checkbox"]:not(old):checked + label {
    background-image: url("../images/btn-checkbox-click@2x.png");
    background-size: 20px;
  }
}

/*radio btn*/
.btn.full-blue, .btn.full-yellow {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.btn.full-blue {
  background-color: #0076C5;
  color: #ffffff;
  font-weight: 500;
  border-radius: 20px;
}

.btn.full-blue:hover {
  opacity: 0.85;
}

.btn.full-yellow {
  background-color: #F9A829;
  border: 1px solid #F9A829;
  color: #ffffff;
  font-weight: 500;
  border-radius: 20px;
}

.btn.full-yellow:hover {
  opacity: 0.85;
}

.btn.line-blue {
  background-color: transparent;
  border: 1px solid #0076C5;
  color: #0076C5;
  font-weight: 500;
}

.btn.line-blue:hover {
  opacity: 0.85;
}

.modal-open header,
.modal-open main,
.modal-open footer {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  /*Chrome,Opera*/
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
}

.modal-open .modal-dialog {
  margin: 0 auto;
  margin-top: calc(50vh - 100px);
  max-width: 400px;
}

.modal-open .modal-dialog .modal-content {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 0px 20px 0 rgba(58, 58, 58, 0.3);
  -moz-box-shadow: 0 0px 20px 0 rgba(58, 58, 58, 0.3);
  -webkit-box-shadow: 0 0px 20px 0 rgba(58, 58, 58, 0.3);
  -o-box-shadow: 0 0px 20px 0 rgba(58, 58, 58, 0.3);
  border: 0px;
}

.modal-open .modal-dialog .modal-content .modal-box {
  padding: 0px 30px;
  width: 100%;
  font-weight: bold;
  display: table;
}

.modal-open .modal-dialog .modal-content .modal-box .modal-tit {
  display: table-cell;
  height: 104px;
  vertical-align: middle;
  font-size: 1.125rem;
}

.modal-open .modal-dialog .modal-content .modal-box .modal-tit i {
  margin: 30px auto 10px;
}

@media (max-width: 991px) {
  main {
    padding-top: 66px;
  }
}

/* 事先合併sprite */
.navbar {
  padding: 18px 70px 17px;
  background-color: #ffffff;
}

.navbar a {
  color: #F6F6F6;
}

.title {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  max-width: 420px;
  width: 100%;
  margin: 0 auto 40px auto;
  color: #0076C5;
}

.title:before {
  content: '';
  width: 100%;
  max-width: 100px;
  height: 1px;
  background: #0076C5;
  -ms-flex: 1 1 100%;
  margin: 0 20px 0 0;
}

.title:after {
  content: '';
  width: 100%;
  max-width: 100px;
  height: 1px;
  background: #0076C5;
  -ms-flex: 1 1 100%;
  margin: 0 0 0 20px;
}

.step-button .btn {
  min-width: 140px;
  margin: 0px 10px;
  padding: 7px 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.about-button {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

.index-bg main {
  background-color: #3A3A3A;
  background-image: url(../images/index-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -moz-background-size: contain;
  /*for Firefox*/
  -webkit-background-size: contain;
  /*for Google Chrome、Safari*/
  -o-background-size: contain;
  /*for Opera*/
  margin-top: 80px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2) {
  .index-bg main {
    background-image: url(../images/index-bg@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -moz-background-size: contain;
    /*for Firefox*/
    -webkit-background-size: contain;
    /*for Google Chrome、Safari*/
    -o-background-size: contain;
    /*for Opera*/
  }
}

.index-bg main .login-box {
  max-width: 500px;
  background-color: #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: 0 2px 30px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 2px 30px 0 rgba(255, 255, 255, 0.5);
  /*for Firefox*/
  -webkit-box-shadow: 0 2px 30px 0 rgba(255, 255, 255, 0.5);
  /*for Google Chrome、Safari*/
  -o-box-shadow: 0 2px 30px 0 rgba(255, 255, 255, 0.5);
  /*for Opera*/
  margin: 20px 0px;
  padding: 36px 0px 30px;
}

.index-bg main .login-box h3 {
  padding: 6px 0px 32px;
  margin: 0px;
}

.index-bg main .login-box .index-input {
  width: 440px;
}

.index-bg main .login-box .index-input input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #B6BBBF;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.index-bg main .login-box .index-input p {
  padding: 8px 0px 20px;
}

.index-bg main .login-box a {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 5px 51px;
  font-weight: 400;
  font-size: 1.125rem;
}

.index-bg main .login-content {
  height: calc(100vh - 150px);
  width: 100vw;
}

.index-bg footer {
  background-color: #3A3A3A;
  color: #ffffff;
  padding: 23px 0px;
}

.index-bg.menu-bg .navbar {
  background-color: #3A3A3A;
  font-size: 1.125rem;
}

.index-bg.menu-bg main {
  background-image: url(../images/menu-bg.png);
  background-color: #F6F6F6;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2) {
  .index-bg.menu-bg main {
    background-image: url(../images/menu-bg@2x.png);
  }
}

.index-bg.menu-bg main .about-box {
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: 0 0px 20px 0 rgba(58, 58, 58, 0.1);
  -moz-box-shadow: 0 0px 20px 0 rgba(58, 58, 58, 0.1);
  -webkit-box-shadow: 0 0px 20px 0 rgba(58, 58, 58, 0.1);
  -o-box-shadow: 0 0px 20px 0 rgba(58, 58, 58, 0.1);
  margin: 70px 0px 0px;
  padding: 80px 50px;
}

.index-bg.menu-bg main .about-box table {
  margin-top: 30px;
}

.index-bg.menu-bg main .about-box table tr {
  color: #3A3A3A;
}

.index-bg.menu-bg main .about-box .table td,
.index-bg.menu-bg main .about-box .table th {
  vertical-align: middle;
  word-break: break-all;
  border: 0px;
}

.index-bg.menu-bg main .about-box .table-style {
  width: 100%;
}

.index-bg.menu-bg main .about-box .table-style .status {
  display: inline-block;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: 500;
  padding: 6px 10px;
  min-width: 66px;
  margin: 0px auto;
}

.index-bg.menu-bg main .about-box .table-style .status.status-blue {
  background-color: #0076C5;
}

.index-bg.menu-bg main .about-box .table-style .status.status-dark {
  background-color: #3A3A3A;
}

.index-bg.menu-bg main .about-box .table-style .btn-edit {
  background-color: #0076C5;
  display: inline-block;
  border-radius: 5px;
  margin: 0px 5px;
  vertical-align: middle;
}

.index-bg.menu-bg main .about-box .table-style .btn-edit a {
  padding: 8px 8px;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.index-bg.menu-bg main .about-box .success-tabs {
  margin: 0px auto;
  border: 0px;
  font-size: 1.125rem;
}

.index-bg.menu-bg main .about-box .success-tabs.nav-tabs .nav-link {
  border: 1px solid #0076C5;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.index-bg.menu-bg main .about-box .success-tabs.nav-tabs .nav-link.tabls-left:first-child {
  border-radius: 12px 0px 0px 12px;
  -webkit-border-radius: 12px 0px 0px 12px;
  -moz-border-radius: 12px 0px 0px 12px;
  -ms-border-radius: 12px 0px 0px 12px;
  -o-border-radius: 12px 0px 0px 12px;
}

.index-bg.menu-bg main .about-box .success-tabs.nav-tabs .nav-link.tabls-right:first-child {
  border-radius: 0px 12px 12px 0px;
  -webkit-border-radius: 0px 12px 12px 0px;
  -moz-border-radius: 0px 12px 12px 0px;
  -ms-border-radius: 0px 12px 12px 0px;
  -o-border-radius: 0px 12px 12px 0px;
}

.index-bg.menu-bg main .about-box .success-tabs.nav-tabs .nav-link.active {
  background-color: #0076C5;
  color: #ffffff;
}

.index-bg.menu-bg main .about-box .success-tabs.nav-tabs a {
  color: #0076C5;
  padding: 6px 73px;
}

.index-bg.menu-bg main .menu-box {
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  box-shadow: 0 0px 20px 0 rgba(58, 58, 58, 0.1);
  -moz-box-shadow: 0 0px 20px 0 rgba(58, 58, 58, 0.1);
  -webkit-box-shadow: 0 0px 20px 0 rgba(58, 58, 58, 0.1);
  -o-box-shadow: 0 0px 20px 0 rgba(58, 58, 58, 0.1);
  margin: 70px 0px;
  padding: 80px 50px;
}

.index-bg.menu-bg main .menu-box ul {
  margin: 0px;
  padding: 0;
  display: block;
  width: 100%;
}

.index-bg.menu-bg main .menu-box ul li {
  list-style: none;
  display: inline-block;
}

.index-bg.menu-bg main .menu-box ul li a {
  width: 220px;
  height: 300px;
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 0 2px 16px 0 rgba(58, 58, 58, 0.1);
  -moz-box-shadow: 0 2px 16px 0 rgba(58, 58, 58, 0.1);
  -webkit-box-shadow: 0 2px 16px 0 rgba(58, 58, 58, 0.1);
  -o-box-shadow: 0 2px 16px 0 rgba(58, 58, 58, 0.1);
  margin: 50px 20px;
  padding: 97px 0px 84px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.index-bg.menu-bg main .menu-box ul li a:hover {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  opacity: 0.85;
}

.index-bg.menu-bg main .menu-box ul li .menu-icon {
  height: 80px;
}

.index-bg.menu-bg main .menu-box ul li .menu-tit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  width: 160px;
  margin: 0px auto;
  display: inherit;
  font-size: 1.25rem;
  font-weight: bold;
}

.index-bg.menu-bg footer {
  background-color: #F6F6F6;
}

.index-bg.menu-bg .about-menu {
  display: inline-block;
  vertical-align: middle;
}

.index-bg.menu-bg .about-menu ul {
  margin: 0px;
  padding: 0px 70px 0px 0px;
  display: inline-block;
  position: relative;
}

.index-bg.menu-bg .about-menu ul::before {
  content: '';
  width: 1px;
  height: 48px;
  background: #ffffff;
  margin: 0 20px 0 0;
  position: absolute;
  right: 15px;
  top: -14px;
}

.index-bg.menu-bg .about-menu ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 15px;
}

.index-bg.menu-bg .about-menu ul li.active a {
  border-bottom: 5px solid #0e6eb9;
  color: #ffffff;
}

.index-bg.menu-bg .about-menu ul li a {
  color: #B6BBBF;
  padding: 23px 0px;
}

.index-bg.menu-bg .about-menu ul li a:hover {
  color: #ffffff;
  border-bottom: 5px solid #0e6eb9;
}

.setting {
  padding: 0px 0px 7em;
}

.setting .upload {
  margin: 0px auto;
}

.setting .upload .upload-img {
  overflow: hidden;
  border: 1px solid #879097;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.setting .upload .upload-img i {
  position: absolute;
  top: -2px;
  right: -2px;
  cursor: pointer;
}

.setting .upload .upload-img.img-web {
  width: 400px;
  height: 250px;
}

.setting .upload .upload-img.img-success {
  width: 250px;
  height: 150px;
  vertical-align: middle;
  display: table-cell;
}

.setting .upload .upload-img.img-news {
  width: 300px;
  height: 179px;
  vertical-align: middle;
  display: table-cell;
}

.setting .upload .upload-img.img-radius {
  width: 240px;
  height: 240px;
  vertical-align: middle;
  display: table-cell;
  border-radius: 60%;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  -ms-border-radius: 60%;
  -o-border-radius: 60%;
}

.setting .upload .upload-img.img-radius i {
  top: -7px;
  right: -5px;
}

.setting .upload .upload-img.img-mob {
  width: 142px;
  height: 250px;
}

.setting .upload .choose-file + .upload-file {
  background-color: #EDEDED;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #5A5541;
  font-family: Sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: table-cell;
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #879097;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  text-transform: initial;
  cursor: pointer;
  width: 400px;
  height: 250px;
  vertical-align: middle;
}

.setting .upload .choose-file + .upload-file.news-file {
  width: 300px;
  height: 179px;
}

.setting .upload .choose-file + .upload-file.success-file {
  width: 250px;
  height: 150px;
}

.setting .upload .choose-file + .upload-file.success-radius {
  width: 240px;
  height: 240px;
  border-radius: 60%;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  -ms-border-radius: 60%;
  -o-border-radius: 60%;
}

.setting .upload .choose-file {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
  position: absolute;
  width: 0.1px;
}

.setting .upload i {
  vertical-align: top;
  margin-top: 5px;
}

.setting .upload p {
  padding: 10px 0px 0px;
  margin: 0;
  color: #879097;
  font-size: 0.875rem;
}

.setting .upload.mob-img {
  width: 140px;
}

.setting .setting-inform {
  vertical-align: top;
  padding-left: 50px;
  font-size: 1.125rem;
}

.setting .setting-inform .setting-line {
  border-bottom: 1px solid #B6BBBF;
  padding: 10px 10px 10px 0px;
}

.setting .setting-inform .setting-line input {
  border: 0px;
  padding-left: 40px;
  font-size: 1rem;
  width: 80%;
  background-color: inherit;
}

.setting .setting-inform .setting-line input::-webkit-input-placeholder {
  color: #B6BBBF;
}

.setting .setting-inform .setting-line input::-moz-placeholder {
  /* Firefox 18- */
  color: #B6BBBF;
}

.setting .setting-inform .setting-line input::-moz-placeholder {
  /* Firefox 19+ */
  color: #B6BBBF;
}

.setting .setting-inform .setting-line input::-ms-input-placeholder {
  color: #B6BBBF;
}

.setting .setting-inform .setting-row {
  padding: 10px 0px;
}

.setting .setting-inform .setting-row .setting-time {
  padding-left: 50px;
}

.setting .setting-inform .setting-row .calendar {
  position: relative;
  width: 264px;
  display: inline-block;
}

.setting .setting-inform .setting-row .calendar i {
  position: absolute;
  top: 7px;
  right: 0;
}

.setting .setting-inform .setting-row .calendar input {
  border: 0px;
  border-bottom: 1px solid #B6BBBF;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  background-color: inherit;
}

.setting .setting-inform .setting-row .calendar input::-webkit-input-placeholder {
  color: #B6BBBF;
}

.setting .setting-inform .setting-row .calendar input::-moz-placeholder {
  /* Firefox 18- */
  color: #B6BBBF;
}

.setting .setting-inform .setting-row .calendar input::-moz-placeholder {
  /* Firefox 19+ */
  color: #B6BBBF;
}

.setting .setting-inform .setting-row .calendar input::-ms-input-placeholder {
  color: #B6BBBF;
}

.setting .setting-inform .setting-row .calendar .form-control:focus {
  background-color: inherit;
  border-color: none;
  outline: 0;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
}

.setting .setting-inform .setting-row .setting-radio {
  vertical-align: inherit;
}

.setting .setting-inform .setting-row .setting-radio label {
  padding-left: 24px;
}

.setting .setting-inform .setting-row .setting-checkbox {
  vertical-align: inherit;
}

.setting .setting-inform .setting-row .setting-checkbox label {
  padding-left: 30px;
}

.setting .setting-inform .setting-row .setting-under-time {
  padding-left: 74px;
}

.setting .setting-inform.center-upload {
  width: 700px;
  margin: 0px auto;
  padding: 50px 0px 0px;
}

.setting .setting-inform.input-box-left {
  display: inline-block;
  width: 70%;
}

.setting .setting-inform .news-title input {
  width: 88%;
}

.setting .setting-inform .news-sort {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 48px;
}

.setting .setting-inform .news-sort .news-sort {
  width: 494px;
  padding-right: 0px;
}

.setting .setting-inform .news-sort .setting-line {
  display: inline-block;
}

.setting .setting-inform .news-sort .setting-line input {
  width: 70%;
}

.setting.input-type {
  padding: 0px 0px 50px;
}

.setting.input-type .img-box {
  position: relative;
}

.setting.input-type .video-img {
  display: table;
  margin: 0px auto;
}

.setting.input-type .video-img .video-file {
  color: #879097;
  height: 225px;
  padding: 0px;
  display: table-cell;
  vertical-align: middle;
  width: 400px;
  background-color: #EDEDED;
  border: 1px solid #B6BBBF;
  text-align: center;
  margin: 0px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.setting.input-type .video-img .video-file p {
  margin: 0px;
}

.setting.input-type .video-img iframe {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: 400px;
  height: 225px;
  display: inherit;
}

.setting.input-type textarea {
  resize: none;
  border: 0px;
  padding-left: 40px;
  width: 88%;
  font-size: 1rem;
  margin: -3px 0px;
  padding-top: 5px;
}

.setting.input-type textarea::-webkit-input-placeholder {
  color: #B6BBBF;
}

.setting.input-type textarea::-moz-placeholder {
  /* Firefox 18- */
  color: #B6BBBF;
}

.setting.input-type textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #B6BBBF;
}

.setting.input-type textarea::-ms-input-placeholder {
  color: #B6BBBF;
}

#customer .row {
  width: 100%;
}

.news-inform {
  width: 70%;
}

.place-box {
  background-color: #fff;
  border: 1px solid #B6BBBF;
  display: table;
  width: 100%;
  height: 600px;
}

.place-box .place-tit {
  vertical-align: middle;
  display: table-cell;
}

.sort-item {
  background-color: #0076C5;
  padding: 5px 14px;
  color: #ffffff;
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: inline-block;
}

.news-setup {
  display: inline-block;
  border-bottom: 1px solid #D8D8D8;
  margin-right: 10px;
  margin-bottom: 10px;
}

.news-setup input {
  border: 0px;
  background-color: inherit;
  margin-bottom: 10px;
  padding: 0px 10px;
}

.news-setup i {
  cursor: pointer;
  margin: 0px 0px -5px;
}

@media screen and (max-width: 1100px) {
  .index-bg.menu-bg main .menu-box ul li a {
    height: auto;
  }
  .index-bg.menu-bg .navbar {
    min-width: 1200px;
  }
  .index-bg main .login-content {
    height: auto;
    min-width: 1100px;
  }
  body.menu-bg {
    background-color: #F6F6F6;
  }
  body.index-bg {
    background-color: #3A3A3A;
  }
  main {
    min-width: 1100px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1400px;
  }
}
